pandas==2.3.2
numpy==1.26.4
pyarrow==20.0.0
polars==1.33.1
scikit-learn==1.4.2
matplotlib==3.10.6
seaborn==0.13.2
jupyterlab==4.4.6
notebook==7.4.5
ipykernel==6.30.1
pycaret==3.3.2
statsmodels==0.14.5
plotly==6.3.0
